<% provide :header_title, 'フォトフォーラム' %>

<div class="row">
  <div class="col s12 search-area">
    <%= form_tag(spots_path, method: "get", id: "location-form", class: "search_form") do %>
      <div class="input-field">
        <%= text_field_tag :search,  params[:search], :placeholder => 'キーワード検索' %>
        <%= hidden_field_tag 'distance'%>
        <%= hidden_field_tag 'lat'%>
        <%= hidden_field_tag 'lng'%>
      </div>
    <% end %>
    <div class="buttons">
      <button id="search-submit" class="waves-effect waves-light btn"><i class="material-icons">search</i></button>
      <a class="waves-effect waves-light btn modal-trigger" href="#search-setting"><i class="material-icons">dehaze</i></a>
    </div>
  </div>
</div>

<% if @spots.blank? %>
  <session class="search_result">
    <div class="content">
      <p> 条件に一致する検索結果はありません。 </p>
    </div>
  </session>
<% end %>
<div class="spots row">
  <% @spots.each do |spot| %>
    <%= render 'layouts/spot', spot: spot %>
  <% end %>
</div>

<% if logged_in? %>
  <div class="fixed-action-btn">
    <%= link_to new_spot_url, class: "btn-floating btn-large waves-effect waves-light" do %>
      <i class="material-icons">add</i>
    <% end %>
  </div>
<% end %>

<div id="search-setting" class="modal search-setting">
  <div class="modal-content">
    <h4>検索の詳細設定</h4>
    <div class="setting-header">
      <div class="title">
        距離での絞り込み(km)
      </div>
      <div class="button">
        <div class="switch">
          <label>
            <input id="distance-button" type="checkbox" <% if @distance.present? then %>checked="checked"<% end %>>
            <span class="lever"></span>
          </label>
        </div>
      </div>
    </div>
    <p id="distance-range-field" class="range-field">
      <input id="distance-range" type="range" name="distance" min="1" max="20">
    </p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">設定</a>
  </div>
</div>