<header>
  <h1>いいねサポーター</h1>
</header>
<%= form_tag(spots_path, method: "get") do %>
<%= label_tag :search, "キーワード" %>
<%= text_field_tag :search %>
<%= submit_tag "検索" %>
<% end %>

<% if @spots.empty? %>
  <p> 条件に一致する検索結果はありません </p>
<% end %>
<ul class="spots">
  <% @spots.each do |spot| %>
    <%= link_to spot do %>
      <li style="background-image: url(<%== asset_url(spot.picture) %>);">
        <h2><%= spot.placeName %></h2>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "＋", new_spot_url, :class => 'new_spot_button' %>
