<% provide(:title, 'create Spot') %>
<% provide :header_title, 'スポット作成' %>

<session class="new_spot">
  <div class="content">
    <%= form_for(@spot) do |f| %>
      <div class="item">
        <h2>スポット名</h2>
        <%= f.text_field :place_name, :placeholder => 'スポット名' %>
      </div>
      <div class="item">
        <h2>緯度・経度</h2>
        <div id="map"></div>
        <%= javascript_include_tag "spots" %>
        <script src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap" async defer></script>
        <%= f.number_field :lat, step:0.0000000000000000001, :placeholder => '緯度', :id => 'lat'%>
        <%= f.number_field :lng, step:0.0000000000000000001, :placeholder => '経度', :id => 'lng'%>
        <span id="lat"></span>
      </div>
      <div class="item">
        <h2>画像</h2>
        <%= f.file_field :picture, accept: 'image/jpeg, image/gif, image/png' %>
      </div>
      <div class="item">
        <h2>コメント</h2>
        <%= f.text_area :detail_comment, :placeholder => 'コメント' %>
      <div>
      <%= f.submit "送信", :class => 'button' %>
    <% end %>
  </div>
</session>
