<% provide(:title, 'create Spot') %>
<% provide :header_title, 'スポット作成' %>

<session class="new_spot">
  <div class="row main">
    <%= form_for(@spot) do |f| %>
      <div class="col s12">
        <h3>スポット情報</h3>
        <div class="input-field">
          <%= f.label :place_name, "スポット名" %>
          <%= f.text_field :place_name %>
        </div>
        <div class="input-field">
          <%= f.label :detail_comment, "コメント" %>
          <%= f.text_area :detail_comment, class: "materialize-textarea" %>
        </div>
      </div>
      <div class="col s12">
        <h3>緯度・経度</h3>
        <p>スポットの場所をクリックして、位置を指定してください。</p>
        <div id="map"></div>
        <%= f.hidden_field :lat, :id => 'lat'%>
        <%= f.hidden_field :lng, :id => 'lng'%>
      </div>
      <div class="submit_button col s12">
        <%= button_tag "送信", type: "submit", class: "waves-effect waves-light btn" %>
      </div>
    <% end %>
  </div>
</session>
<script defer src=<%= designate_map_url %>></script>
