<% provide(:title, 'create Spot') %>
<% provide :header_title, 'スポット作成' %>

<session class="new_spot">
  <div class="content">
    <%= form_for(@spot) do |f| %>
      <div class="item">
        <h2>スポット名</h2>
        <%= f.text_field :place_name, :placeholder => 'スポット名' %>
      </div>
      <div class="item">
        <h2>緯度・経度</h2>
        <p>スポットの場所をクリックして、位置を指定してください。</p>
        <div id="map"></div>
        <%= f.hidden_field :lat, :id => 'lat'%>
        <%= f.hidden_field :lng, :id => 'lng'%>
        <span id="lat"></span>
      </div>
      <div class="item">
        <h2>コメント</h2>
        <%= f.text_area :detail_comment, :placeholder => 'コメント' %>
      <div>
      <%= f.submit "送信", :class => 'button' %>
      </div>
    <% end %>
  </div>
</session>
<script async defer src=<%= designate_map_url %>>
</script>
