<% provide(:title, @spot.placeName) %>
<h1><%= @spot.placeName %></h1>

<p>
  <%= image_tag(@spot.picture) %>
  <h3>詳細情報</h3>
  <p><%= @spot.detailComment %></p>
  <%= link_to "googlemap", create_url(@spot.lat,@spot.lng), :target=>["_blank"] %>
  <h3>ワンポイントアドバイス</h3>
  <ul>
    <% @advices.each do |advice| %>
      <%= link_to advice do %>
        <li>
          <%= advice.comment %>
          <%= image_tag advice.picture.url if advice.picture? %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <%= link_to "submit", new_spot_advice_url(spot_id: @spot.id) %>
</p>
