<% provide(:title, @spot.place_name) %>
<% provide :header_title, @spot.place_name %>

<session class="spot_detail">
  <%= image_tag @spot.picture, :class => 'header_img' %>
  <div class="content">
    <div class="button_and_head">
      <h2>詳細情報</h2>
      <%= link_to "地図で開く", create_url(@spot.lat,@spot.lng), :target=>["_blank"], :class => 'button' %>
    </div>
    <p><%= @spot.detail_comment %></p>
    <div class="button_and_head">
      <h2>ワンポイントアドバイス</h2>
      <%= link_to "新規作成", new_spot_advice_url(spot_id: @spot.id), :class => 'button' %>
    </div>
    <span>ソート<span>
    <%= select_tag(:sort_by,
                   options_for_select([["新着順", "new"], ["いいね数", "hot"]], @sort_by),
                   onchange: "location.href='?sort_by=' + value;") %>
    <ul>
      <% @advices.each do |advice| %>
        <li class="advice_item">
          <%= link_to advice do %>
            <div>
              <time><%= advice.created_at.strftime('%Y年%m月%d日 %H:%M') %></time>
              <p><%= advice.comment %></p>
              <p>Like <%= advice.likes_count %></p>
            </div>
            <%= image_tag advice.picture.url if advice.picture? %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</session>
