<% provide :header_title, "サインイン" %>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :name %>
      <%= f.text_field :name%>
    </div>

    <div class="input-field col s12">
      <%= f.label :email %>
      <%= f.email_field :email%>
    </div>

    <div class="input-field col s12">
      <%= f.label :password %>
      <%= f.password_field :password%>
    </div>

    <div class="input-field col s12">
      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.password_field :password_confirmation%>
    </div>

    <div class="submit_button col s12">
      <%= f.submit "アカウント作成",  class: "waves-effect waves-light btn" %>
    </div>
  </div>
<% end %>
