<% provide(:title, 'advice') %>
<% provide :header_title, "アドバイス詳細" %>

<session class="advice_detail">
  <%= image_tag @advice.picture.url, :class => "responsive-img" if @advice.picture? %>
  <div class="row">
    <% if @advice.lat != nil && @advice.lng != nil %>
      <div class="col s8">
        <h5>アドバイス (<%= @advice.spot.place_name %>)</h5>
      </div>
      <div class="col s4">
        <%= link_to "地図で開く",
                    create_url(@advice.lat,@advice.lng),
                    target: ["_blank"],
                    class: "waves-effect waves-light btn wide" %>
      </div>
    <% else %>
      <div class="col s12">
        <h5>アドバイス (<%= @advice.spot.place_name %>)</h5>
      </div>
    <% end %>
    <div class="col s12">
      <time class="grey-text"><%= @advice.created_at.strftime('%Y年%m月%d日 %H:%M') %></time>
      <p><%= @advice.comment %></p>
    </div>
    <div class="col s12">
      <div class="buttons", id="like-button">
        <%= render :partial => "like", locals: { advice: @advice} %>
      </div>
      <% if current_user == @advice.user %>
        <div class="buttons">
          <%= link_to "EDIT", edit_advice_path, class: "waves-effect waves-teal btn" %>
          <%= link_to "DELETE", @advice, class: "waves-effect waves-teal btn", method: :delete, data: { confirm: "You sure?" } %>
        </div>
      <% end %>
    </div>

  </div>
</section>
