<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to 'Top', root_url %></li>
  <% if logged_in? %>
    <li><%= link_to "Profile", current_user %></li>
    <li><%= link_to "Mylist", mylists_path %></li>
    <li><%= link_to 'Log out', logout_path, method: :delete %></li>
  <% else %>
    <li><%= link_to 'Log in', login_path %></li>
    <li><%= link_to 'Sign Up', signup_path %></li>
  <% end %>
</ul>

<nav class="nav-wrapper">
  <span class="brand-logo"><%= yield :header_title %></span>
  <ul class="right">
  <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right">more_vert</i></a></li>
  </ul>
</nav>
